/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

form label {
  font-weight: bold;
  flex: 0 49%;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  flex: 0 49%;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 600px) {
  body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  body header div {
    align-self: flex-start;
  }

  body header nav {
    align-self: flex-end;
  }

  main #join {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  main img {
    width: 50%;
  }

  main #join div {
    padding: 15px;
    align-self: center;
  }

  main #about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  main #about h2 {
    width: 100%;
  }

  main #about img {
    width: 32%;
  }

  main #about p {
    width: 32%;
    align-self: center;

  }

  main #download {
    display: flex;
  }

  main #download div {
    align-self: center;
    padding: 0 15px;
  }

  main #blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #blog h2 {
    width: 100%;
  }

  #blog div {
    width: 49%;
    padding-bottom: 10px;
  }

  #blog div img {
    width: 100%;
  }
}